[Desktop Entry]
Type=Application
Name=SpotifyTools
Icon=spotifytools
Categories=Audio;Music;Player;AudioVideo;
Comment=Display song lyrics and mute Spotify advertisements
Exec=spotifytools
